// @import 'bootstrap-vue/dist/bootstrap-vue.css';
@import 'bootstrap/bootstrap';
@import 'bootstrap/bootstrap-vue';

@import '../components/Masthead/masthead';
@import '../components/Alert/alert';
//
@import 'containers/container';
//@import 'containers/masthead';
//@import 'containers/alert';
@import 'containers/br';

body {
  // background: aliceblue;
  background: white;
  padding: 0px;
  margin: 0px;
}
